@model GummyBearsForever.Models.Inventory
@{
    ViewData["Title"] = "Gummy Bears Forever";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Details</h2>
<hr />
<p>@Html.DisplayNameFor(model => model.GummyName): @Html.DisplayFor(model => model.GummyName)</p>
<p>@Html.DisplayNameFor(model => model.Cost): @Html.DisplayFor(model => model.Cost)</p>
<p>@Html.DisplayNameFor(model => model.Country): @Html.DisplayFor(model => model.Country)</p>

